html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}
#wrap { margin:0; background-color: #050099; }
/* 메뉴바 */
.menubar li ul {
    display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
    height:80px;
    padding:0px;
    margin:0px;
    border:0px;
    vertical-align:baseline;
    position:absolute;
    z-index:200;
}
nav ul {
    width: 100%;
    background-color: #323347;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
nav ul li {
    display: inline-block;
}

.name {
    background-color: #323347;
    width: 100px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    float: right;
}
.name a {
    display: block;
    text-decoration: none;
    color: #95a3c7;
    padding: 0px 0px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    /*background-color: darkorange; */
    color: #95a3c7;
    padding: 0px;
    margin-left: 20px;
    padding-bottom: 0px;
    alignment: center;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* dropdown-menu 에는 hover 적용이 안됨 */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown-menu:hover:not(.name) {
    background-color: #050099;
    color: white;
}
