html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}
body {
    line-height:1;
}
ol, ul
{
    list-style: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav {
    background-color: #292a3f;
    width: 220px;
    float: left;
    height: 662px;
}
nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}
section{
    float: left;
    height: 294px;
    background-color: #323347;
    width: 1146px;
}
article{
    float: left;
    height: 344px;
    background-color: #323347;
    width: 1146px;
}
#wrap { margin:0; width:1366px; height:768px; background-color: white; }
#equipment  { margin-left: 16px;}
#accordian { background: #292a3f; width: 50px;color: white; box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5); } /* 메뉴 스타일 */
#wrong  { margin-left: 12px;}
#gate{ }
/* 메뉴바 */
.
.menubar li ul {
    display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
    height:80px;
    padding:0px;
    margin:0px;
    border:0px;
    vertical-align:baseline;
    position:absolute;
    z-index:200;
}
header ul {
    width: 1366px;
    background-color: #323347;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
header ul li {
    display: inline-block;
}


.name {
    background-color: #323347;
    width: 100px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    float: right;
}
.name a {
    display: block;
    text-decoration: none;
    color: #95a3c7;
    padding: 0px 0px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    /*background-color: darkorange; */
    color: #95a3c7;
    padding: 0px;
    margin-left: 20px;
    padding-bottom: 0px;
    alignment: center;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* dropdown-menu 에는 hover 적용이 안됨 */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown-menu:hover:not(.name) {
    background-color: #050099;
    color: white;
}
/* Nav */
/* -- background: linear-gradient(to right, #0072dc, #00d5e2); 활성화 시 그라데이션 */

#accordian h3 { font-size: 14pt; height: 40px; padding: 16px; cursor: pointer; background: #292a3f;}  /* Gate 메인 */
#accordian h3:hover { text-shadow: 0 0 1px; color: white; background:linear-gradient(to right, #0072dc, #00d5e2); } /*Gate에 마우스 커서 올라갔을 시 */
#accordian h3 span {margin-right: 10px;}  /* 아이콘폰트 스타일 */
#accordian li { list-style-type: none; font-size:14pt; color: #95a3c7; border-bottom:1px solid #383950; background-color: #232532;}

#accordian ul ul li a { color: #95a3c7; padding-left:20px; margin-top:5px; height: 30px; text-decoration: none; font-size: 12px;display: block; padding: 0 15px;
    -webkit-transition: all 0.15s; -moz-transition: all 0.15s; -o-transition: all 0.15s; -ms-transition: all 0.15s; transition: all 0.15s; } /* Gate 서브메뉴 (정산기) */
#accordian ul ul li a:hover { background: #292a3f; color: white; border-left: 5px solid #0091f7; } /*정산기에 마우스 커서 올라갔을 시*/
#accordian ul ul { display: none; }  /* active 클래스 외에 것은 보이지 않게 하기 */
#accordian li.active ul { display: none; } /* 디폴트로 열려있기 */

/* section */
.table1{
    table-layout:auto;
    border: 1px solid;
    margin-left: 16px;
    width: 286px;
    height: 294px;
    Border-radius: 6px;
}
.table1 th{}
.table1 tr{}

.table2{
    table-layout:auto;
    border: 1px solid;
    margin-left: 16px;
    width: 280px;
    height: 294px;
    Border-radius: 6px;
}